<table>
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>Average Wage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobsites.each do |jobsite| %>
      <tr>
        <td><%= jobsite.name %></td>
        <td><%= jobsite.address %></td>
        <td><%= jobsite.zipcode %></td>
        <td>$<%= jobsite.avg_actual_wage %></td>
        <td><%= link_to 'Show', jobsite %></td>
        <td><%= link_to 'Edit', edit_jobsite_path(jobsite) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

Don't see yours?  <%= link_to 'Create a New Workplace', new_jobsite_path %>
