<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jobsite.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @jobsite.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @jobsite.zipcode %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @jobsite.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @jobsite.long %>
</p>

<%= link_to 'Edit', edit_jobsite_path(@jobsite) %> |
<%= link_to 'Back', jobsites_path %>
