<!DOCTYPE html>
<html>
<head>
  <title>RAZE</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.config.googlemaps_api_key %>&callback=initMap" async defer></script>
</head>
<body>
    <div class="header">
        <span class="em">
            <li><%= link_to 'RAZE', root_path %></li>
        </span>
    </div>


<div class="content">
<%= yield %>
</div>

</body>
</html>
